<p>Name : <%= @contact.name %>,</p>
<p>Phone : <%= @contact.phone_number %>,</p>
<p>Company : <%= @contact.email %>,</p>
<p>Subject : <%= @contact.subject %>,</p>
<p>Phone : <%= @contact.message %>,</p>

