<h1>Welcome to Admin Dashboard</h1>

<%= link_to "States", "/admin/states" %><br />
<%= link_to "Categories", "/admin/categories" %><br />
<%= link_to "Colleges", "/admin/colleges" %><br />
<%= link_to "Users", "/admin/users" %><br />
<%= link_to "Payment Options", "/admin/payment_options" %><br />
<%= link_to "Coupons", "/admin/coupons" %><br />
<hr />


<%= link_to "logout", "/users/sign_out" %> | <%= link_to "back to survey","/" %>