<div id="page">
	<div class="top"></div>
	<div class="content">
		<div class="header page">
			<h2>Change your password</h2>
		</div>
		<div id="signup" class="padding">

      <div class="left">
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put,:id=>"user_new" }) do |f| %>
					
					<table>
						<tr>
							<td colspan="2" style="color:red;"><%= devise_error_messages! %><%= f.hidden_field :reset_password_token %></td>
						</tr>

						<tr>
							<td>
								<p><label>New password</label>
							</td>
						<td>
								 <%= f.password_field :password %>
							</td>
						</tr>
						<tr>
							<td>
								<label>New Confirm password</label>
							</td>
							<td>
								 <%= f.password_field :password_confirmation %>
							</td>
						</tr>
						
					</table>
					<div class="clear margin"></div>
					<div class="clear"></div>
					<div class="send_form">
						<a href="#" class="button submit" onClick="document.forms['user_new'].submit();">
							<span>Change password</span>
						</a>
					</div>
				<% end %>
			</div>



     
	
	</div>
	<div class="clear"></div>
	<div class="bottom"></div>
</div>



