<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Role</th>
    <th>Access period</th>
    <th colspan="3"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= user.role.name if user.role %></td>
    <td><%= user.access_until %></td>

    <td><%= link_to 'Show', admin_user_path(user) %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>
